/week2-025.SumOfThreeNumbers/build/
/week2-026.SumOfManyNumbers/build/
/week2-027.FromOneToHundred/build/
/week2-028.FromHundredToOne/build/
/week2-029.EvenNumbers/build/
/week2-030.UpToCertainNumber/build/
/week2-031.LowerLimitAndUpperLimit/build/